@model FinalProject421.Models.Destination

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Destination</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficialLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficialLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DestID">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a asp-controller="Locations" asp-action="SelectIndex" asp-route-id="1">Button</a>
    <button style="margin:10px;" class="btn-secondary" asp-area="" asp-controller="Locations" asp-action="SelectIndex" asp-route-id="@Model.DestID">See locations in this city</button>
</div>
