@model IEnumerable<FinalProject421.Models.GenInfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextItem1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextItem2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextItem1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextItem2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination.City)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GenInfoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GenInfoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GenInfoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
