@model _421FinalProject.Models.City


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>
    <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css" type="text/css" />

    <style>
        html, body {
            margin: 1px,1px,1px,1px;
        }

        #myMap, img {
            height: 250px;
            width: 400px;
            margin: 10px;
            text-align: center;
            border: 2px solid rgba(74, 216, 238, 0.8);
            border-radius: 5px;
        }

        h1 { 
            margin-top: 10px;
        }
    </style>
    @section scripts {


        @*function InitMap() {
        var coordString = @Model.LocationKey;
        var coords[] = coordString.split(",");
        var map = new atlas.Map('myMap', {
        center: [coords[0], coords[1]],
        zoom: 13,
        language: 'en-US',
        authOptions: {
        authType: 'subscriptionKey',
        subscriptionKey: 'zhnISPrPbfsED8lUiuVuZnGa8lLovPTwf5ffd46IGHo'
        }
        });*@

        <script>
            var coords = Model.LocationKey.split(",");
        </script>

        <script type="text/javascript">
            function InitMap() {

                var map = new atlas.Map('myMap', {
                    center: [@Model.LocationKey.Split(",")[0], @Model.LocationKey.Split(",")[1]],
                    zoom: 11,
                    language: 'en-US',
                    authOptions: {
                        authType: 'subscriptionKey',
                        subscriptionKey: 'zhnISPrPbfsED8lUiuVuZnGa8lLovPTwf5ffd46IGHo'
                    }
                });



                //map.events.add('ready', function () {
                //    //Define an HTML template for a custom popup content laypout.
                //    var popupTemplate = '<div class="customInfobox"><div class="name">{name}</div>{description}</div>';

                //    var dataSource = new atlas.source.DataSource();
                //    map.sources.add(dataSource);

                //    dataSource.add(new atlas.data.Feature(new atlas.data.Point([-2.95, 43.264]), {
                //        name: 'San Mames Stadium',
                //        description: 'The home field of Athletico Bilbao',
                //        LocID: '12'
                //    }));

                //    var symbolLayer = (new atlas.layer.SymbolLayer(dataSource, null));
                //    map.layers.add(symbolLayer);

                //    popup = new atlas.Popup({
                //        pixelOffset: [0, -18],
                //        closeButton: false
                //    });

                //    //Add a hover event to the symbol layer.
                //    map.events.add('mouseover', symbolLayer, function (e) {
                //        //Make sure that the point exists.
                //        if (e.shapes && e.shapes.length > 0) {
                //            var content, coordinate;
                //            var properties = e.shapes[0].getProperties();
                //            content = popupTemplate.replace(/{name}/g, properties.name).replace(/{description}/g, properties.description);
                //            coordinate = e.shapes[0].getCoordinates();

                //            popup.setOptions({
                //                //Update the content of the popup.
                //                content: content,

                //                //Update the popup's position with the symbol's coordinate.
                //                position: coordinate

                //            });
                //            //Open the popup.
                //            popup.open(map);
                //        }
                //    });

                //    map.events.add('mouseleave', symbolLayer, function () {
                //        popup.close();
                //    });

                //    map.events.add('click', symbolLayer, function (e) {
                //        var properties = e.shapes[0].getProperties();
                //        location.href = '/locations/details/' + properties.LocID
                //    });
                //});


            }
        </script>
        }


        @*Ensures that IE and Edge uses the latest version and doesn't emulate an older version*@
        <meta http-equiv="x-ua-compatible" content="IE=Edge">

        @*Ensures the web page looks good on all screen sizes.*@
        <meta name="viewport" content="width=60%, initial-scale=1, shrink-to-fit=yes">
    </head>



<body class="home-body" onload="InitMap()">
    <div class="container card" style="padding:20px;">
        <div class="row">
            <div class="col-6">
                <h1 style="margin-top: 10px !important">@Html.DisplayFor(model => model.Name)</h1>
                <h2>@Html.DisplayFor(model => model.Country)</h2>
                <p>Official Language: @Html.DisplayFor(model => model.OfficialLanguage)</p>
                <p>Location Key: @Html.DisplayFor(model => model.LocationKey)</p>
                <p>@Html.DisplayFor(model => model.OfficialSite)</p>
            </div>
            <div class="col-6 text-center">
                @if (Model.ImageA != null)
                    @if (Model.ImageA != null)
                    {
                        var base64 = Convert.ToBase64String(Model.ImageA);
                        var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                        <img src="@imgSrc" height="250" width="400" style="margin:10px" />
                    }
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-6 text-center">
                <div id="myMap"></div>
            </div>
            <div class="col-6 text-center">
                @if (Model.ImageB != null)
                    @if (Model.ImageB != null)
                    {
                        var base64 = Convert.ToBase64String(Model.ImageB);
                        var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                        <img src="@imgSrc" height="100" width="100" />
                    }
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>



